{% extends "layout.html" %}
{% block content %}
<div class="flexslider">

        <ul class="slides">
         <li><img src="images/mag01/01.png" alt=""></li>
         <li><img src="images/mag01/02.png" alt=""></li>
         <li><img src="images/mag01/03.png" alt=""></li>
         <li><img src="images/mag01/04.png" alt=""></li>
         <li><img src="images/mag01/05.png" alt=""></li>
         <li><img src="images/mag01/06.png" alt=""></li>
         <li><img src="images/mag01/07.png" alt=""></li>
         <li><img src="images/mag01/08.png" alt=""></li>
         <li><img src="images/mag01/09.png" alt=""></li>
         <li><img src="images/mag01/10.png" alt=""></li>
         <li><img src="images/mag01/11.png" alt=""></li>
         <li><img src="images/mag01/12.png" alt=""></li>
     </ul>
 </div>
{% endblock %}
