{% extends "newsletter.html" %}
{% block content %}

<!-- Begin MailChimp Signup Form -->


<form action="//nyadi.us13.list-manage.com/subscribe/post?u=41d7c3cb4ea6afbaa60f23ef2&amp;id=4ec5961d77" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" novalidate>
    <input type="text" value="" name="FNAME" placeholder="Name" id="mce-FNAME">
<input type="email" value="" name="EMAIL" placeholder="Email" id="mce-EMAIL">
<label class="toggle">
    <input type="checkbox" onClick="$('.member').toggleClass('open');" value="1" name="group[4845][1]" id="mce-group[4845]-4845-0">
    <div class="box">
        <div class="checkbox">
        </div>
        <div class="title">Live in NY? Willing to meet? Become a member too!</div>
    </div>
</label>




<div class="member">
<label class="toggle">
    <input type="checkbox" value="2" name="group[4849][2]" id="mce-group[4849]-4849-0">
    <div class="box">
        <div class="checkbox">
        </div>
        <div class="title">I can commit to a meeting every 15 days, give or take.</div>
    </div>
</label>
<label class="toggle">
    <input type="checkbox" value="256" name="group[4857][256]" id="mce-group[4857]-4857-0">
    <div class="box">
        <div class="checkbox">
        </div>
        <div class="title">I can also volunteer some of my time (for magazine or tutorials)</div>
    </div>
</label>

<input type="url" value="" name="MMERGE3" placeholder="Portfolio Link" id="mce-MMERGE3">
<p>My Goals are:</p>
<div class="row">
    <div class="col-xs-6">
        <label class="toggle">
    <input type="checkbox" value="4" name="group[4853][4]" id="mce-group[4853]-4853-0">
    <div class="box">
        <div class="checkbox">
        </div>
        <div class="title">Grow as an artist</div>
    </div>
</label>
<label class="toggle">
    <input type="checkbox" value="8" name="group[4853][8]" id="mce-group[4853]-4853-1">
    <div class="box">
        <div class="checkbox">
        </div>
        <div class="title">Learn new skills</div>
    </div>
</label>

    </div>
    <div class="col-xs-6">
<label class="toggle">
    <input type="checkbox" value="16" name="group[4853][16]" id="mce-group[4853]-4853-2">
    <div class="box">
        <div class="checkbox">
        </div>
        <div class="title">Group critiquing</div>
    </div>
</label>

<label class="toggle">
    <input type="checkbox" value="32" name="group[4853][32]" id="mce-group[4853]-4853-3">
    <div class="box">
        <div class="checkbox">
        </div>
        <div class="title">Live drawing events</div>
    </div>
</label>


</div>
</div>




</div>

    <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
    </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_41d7c3cb4ea6afbaa60f23ef2_4ec5961d77" tabindex="-1" value=""></div>
<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn">

</div>

</form>
<script src="js/main.js"></script>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[1]='FNAME';ftypes[1]='text';fnames[0]='EMAIL';ftypes[0]='email';fnames[3]='MMERGE3';ftypes[3]='url';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->

{% endblock %}
