@font-face {
    font-family: "DINNeuzeitGroteskLTPro-BdCn";
    src: url("DIN.eot");
    src: url("DIN.eot?#iefix") format("embedded-opentype"),
         url("DIN.woff2") format("woff2"),
         url("DIN.woff") format("woff"),
         url("DIN.ttf") format("truetype"),
         url("DIN.svg#DINNeuzeitGroteskLTPro-BdCn") format("svg");
    font-weight: 300;
    font-style: normal;
}