@font-face {
    font-family: "LiberationSans-Regular";
    src: url("LiberationSans-Regular.eot");
    src: url("LiberationSans-Regular.eot?#iefix") format("embedded-opentype"),
         url("LiberationSans-Regular.woff2") format("woff2"),
         url("LiberationSans-Regular.woff") format("woff"),
         url("LiberationSans-Regular.ttf") format("ttf"),
         url("LiberationSans-Regular.svg#LiberationSans-Regular") format("svg");
    font-style: normal;
    font-weight: 300;
}