{% extends "layout.html" %}
{% block content %}
<div class="flexslider first">
        <ul class="slides">
         <li class="cover">
            <div class="border"></div>
            <div class="border"></div>
            <div class="border"></div>
            <div class="border"></div>
            <h1>nyadi</h1>
            <h2>first issue</h2>
         </li>
         <li>
            <h2>Editorial</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem voluptatibus fuga, cupiditate alias numquam consectetur soluta. Placeat tenetur dicta explicabo.</p>
         </li>
         <li><img src="/images/01/03.png" alt=""></li>
         <li><img src="/images/01/04.png" alt=""></li>
         <li><img src="/images/01/05.png" alt=""></li>
         <li><img src="/images/01/06.png" alt=""></li>
         <li><h2 class="pending">more content</h2></li>
         <li><h2 class="pending">yet more content</h2></li>
         <li class="lastpage">
            <h1>subscribe</h1>
         <iframe src="/newsletter.html" class="subscription" frameBorder="0" class="" scrolling="no"></iframe >
     </ul>
 </div>
{% endblock %}
