{% extends "layout.html" %}
{% block content %}
<div class="flexslider first">
        <ul class="slides">
         <li class="cover">
            <div class="border"></div>
            <div class="border"></div>
            <div class="border"></div>
            <div class="border"></div>
            <h1>nyadi</h1>
            <h2>first issue</h2>
         </li>
         <li>
            <div class="text two">
            <header>
               <h2>consectetur</h2><h2>adipisicing elit</h2>
            <h3>by blablabla</h3>
            </header>
           <div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae vero aut doloribus modi dicta, sed eaque tempore praesentium. Magnam, libero?</p>
              <p>Nihil laudantium, velit fugiat excepturi est molestias delectus sint sapiente deleniti inventore eos repudiandae, neque. Quidem similique totam fuga qui!</p>
              <p>Nulla iure atque eaque praesentium laborum odio ipsum ex, aliquid facilis impedit ullam, itaque nisi ea, nobis dolorum quisquam porro.</p>
              <p>Possimus quidem similique nesciunt deleniti, doloremque molestiae. Quaerat iste, amet laboriosam repudiandae ea tempora. Amet culpa, porro animi similique doloribus.</p>
              <p>Porro soluta laborum laboriosam architecto suscipit totam eos rerum excepturi ullam, nostrum dolore, esse quia. Nemo voluptatibus at inventore laborum.</p>
              <p>Facere eum odio ullam ipsam, pariatur voluptates doloribus sit praesentium repellat amet.</p>
              <p>Facere eum odio ullam ipsam, pariatur voluptates doloribus sit praesentium repellat amet.</p>
           </div>
           <div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore quasi, delectus, aliquam expedita neque dolores cumque pariatur iure. Animi, aliquam.</p>
              <p class="eye">Quidem omnis nulla quos odio, neque ab, incidunt. Officia necessitatibus totam iusto quas aut neque repellat eveniet rem, quasi laboriosam!</p>
              <p>Similique laboriosam mollitia nulla laudantium explicabo. Eveniet laborum veritatis nemo, magnam veniam quidem iusto explicabo! Excepturi laboriosam quos maiores eos?</p>
              <p>Necessitatibus nam voluptates, veritatis? Tempora culpa at, quasi possimus temporibus dolor sed veniam nulla ducimus assumenda tenetur, mollitia repellat sunt.</p>
           </div>
        </div>
         </li>
         <li><img src="/images/01/03.png" alt=""></li>
         <li><img src="/images/01/04.png" alt=""></li>
         <li><img src="/images/01/05.png" alt=""></li>
         <li><img src="/images/01/06.png" alt=""></li>
         <li><h2 class="pending">more content</h2></li>
         <li><h2 class="pending">yet more content</h2></li>
         <li class="lastpage">
            <h1>subscribe</h1>
         <iframe src="/newsletter.html" class="subscription" frameBorder="0" class="" scrolling="no"></iframe >
     </ul>
 </div>
{% endblock %}
