.text
    color: #333
    header
        width: 70%
        padding: 35px 0
        overflow: hidden

        h1, h2, h3
            +rotate(-5)
            background-color: $c-mag01
            display: inline-block
            color: white !important
    div
        width: 50%
        float: left

p.eye
    font-family: $font-title
    font-size: 30px
    line-heighT: 30px
    padding: 20px

