=magazine($height: 900px, $margin: 30px, $ratio: .71111)
    font-size: ($height * .02)
    .text
        height: $height
        h1, h2
            font-size: ($margin * 2)
        h3
            margin-top: $margin
        h1, h2, h3
            padding: 0 ($margin / 3) 0 $margin
            margin: 0 0 ($margin * -.33) ($margin * -.33)
        div
            &:first-of-type
                padding-right: ($margin / 2)
                padding-left: ($margin * 2)
            &:nth-of-type(2)
                padding-left: ($margin / 2)
                padding-right: ($margin * 2)
    .flexslider
        width: ($height * $ratio)
        .flex-viewport
            width: ($height * $ratio)
            height: $height
            .slides
                li, li.flex-active-slide
                    height: $height
                    width: ($height * $ratio)
    .subscription
        width: ($height * $ratio) - ($margin * 2)
        height: $height - $margin - 135px
        iframe
            width: ($height * $ratio) - 60px
    .border
        &:nth-of-type(2n-1)
            width: ($height * $ratio)
        &:nth-of-type(2n)
            height: $height
        &:nth-of-type(4)
            left: ($height * $ratio) - $margin
    .cover
        h1
            top: ($height * -.01)
        h2
            padding: 0 ($height * .02) 0 ($height * .02)
            &:nth-of-type(1)
                bottom: ($height * .12)
            &:nth-of-type(2)
                font-size: ($height * .08)
    h1
        font-size: ($height * .15)
    h2
        font-size: ($height * .1)
        &.pending
            font-size: $margin
    .instructions
        margin-left: ($height * $ratio) - 15

body
    +magazine
    +media(700px, max, height)
        +magazine(600px, 20px)
        font-size: 13px
        p.eye
            font-size: 20px
            line-height: 20px
            padding: 15px
        .text
            overflow: auto !important
            padding-bottom: 15px
            h3
                margin-top: 20px
            div
                width: 100%
                float: none
                padding: 0 15px !important





=issue($mag: mag01, $color: #A52749)
    .#{$mag}
        h1, h2, h3
            color: $color !important

+issue(mag01, #A52749)

$bp: 600px



