// (\_/)   codecode
// ('ㅅ')づ free to personalize
// (")(")  refer to nonlinear.nyc/codecode

// ('ㅅ')づ font variables

$font-brand: rakoon
$font-title: LiberationSans-Regular
$font-text: LiberationSans-Regular
$font-mono: "Courier New", Courier, monospace

// ('ㅅ')づ critical variables

$gap: 20px
$bp: 770px
$delay: 600ms

// ('ㅅ')づ color variables

$color-bg: white
$color-text: black
$color-title: black
$color-link: grey
$color-divider: grey
$color-link-hover: lighten($color-link, 20%)

// button color variables

$button:               #eee
$button-hover:         darken($button, 10%)
$button-border:        #999999
$button-border-hover:  $button-border
$button-text:          #666
$button-text-hover:    black
$color-select:         #b3d4fc
$color-accent:         $color-select

// ('ㅅ')づ status color variables

$status: #eee
$status-font: #3A4351
$status-border: #999EA5
$status-primary: #00A882
$status-primary-font: white
$status-primary-border: $status-primary
$status-success: #1B97BB
$status-success-font: white
$status-success-border: $status-success
$status-warning: #FFA51A
$status-warning-font: white
$status-warning-border: $status-warning
$status-danger: #DB2B53
$status-danger-font: white
$status-danger-border: $status-danger

// ('ㅅ')づ toggle variables

$toggle_height: 20px
$toggle_half: ($toggle_height / 2)
$toggle_width: ($toggle_height * 2)
$toggle_gap: 1px
$toggle_bg: $color-bg
$toggle_off: #999
$toggle_on: #666

// ('ㅅ')づ function variables

$prefixes: webkit moz ms o spec
$legacy_support_for_ie: false !default
$icons_on: true

// ('ㅅ')づ global imports, don't remove

@import 'vendors/framework'

// ('ㅅ')づ project imports

$c-mag1: lighten(#D13044, 10%)
$nudge: 3vh
$social: 5vh
$social-hover: $social + 2vh

@import 'magazine'
@import 'layout'
