{% macro end(
    mag="1",
    article="spread1",
    title="I like to draw shit",
    author="Nicholas Frota"
    ) %}

    <div class="social end">
        <a href="http://twitter.com/home?status={{ title | safe }} http://nyadi.org/{{ mag | safe }}/#{{ article | safe }}"
        target="_blank">
        <i class="fa fa-twitter"></i>
    </a>
    <a href="https://www.facebook.com/sharer/sharer.php?u=http://nyadi.org/{{ mag | safe }}/#{{ article | safe }}"
    target="_blank">
    <i class="fa fa-facebook-square"></i>
</a>
<a href="mailto:?subject={{ title | safe }}&body=by {{ author | safe }}%0D%0A%0D%0Ahttp://nyadi.org/{{ mag | safe }}/#{{ article | safe }}">
    <i class="fa fa-envelope"></i>
</a>
</div>
{% endmacro %}