<div class="share">
  <a class="social" href="http://twitter.com/home?status=NYADI magazine, first spread http://www.nyadi.org/01/#spread2" target="_blank">
    <i class="fa fa-twitter"></i>
  </a>
  <a class="social" href="https://www.facebook.com/sharer/sharer.php?u=http://www.nyadi.org/01/#spread2" target="_blank">
    <i class="fa fa-facebook"></i>
  </a>
  <a class="social" href="mailto:?subject=NYADI magazine, first spread&body=http://www.nyadi.org/01/#spread2">
    <i class="fa fa-envelope"></i>
  </a>
</div>
